<html>
  <head>
    <meta charset='UTF-8' />
    <style>
      /* E-posta stilinizi buraya ekleyin */ body { font-family: Arial,
      sans-serif; background-color: #f5f5f5; } .container { max-width: 600px;
      margin: 0 auto; padding: 20px; background-color: #ffffff; } .header {
      background-color: #35465c; color: #ffffff; text-align: center; padding:
      20px; } .header h1 { font-size: 28px; } .content { padding: 20px; }
      .button { display: inline-block; background-color: #4caf50; color:
      #ffffff; padding: 10px 20px; text-decoration: none; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <h1>Randebula Hoş Geldiniz</h1>
      </div>
      <div class='content'>
        <p>Sayın {{name}},</p>
        <p>Randebul'a katıldığınız için teşekkür ederiz! Sizi aramızda görmek
          bizi çok mutlu etti.</p>
        <p>Ranebul ile şunları yapabilirsiniz:</p>
        <ul>
          <li>Takviminizi düzenleyin</li>
          <li>Size uygun olan kişilerden ve firmalardan randevu alın</li>
          <li>Randevularınızı düzenleyin ve randevu önerilerini alın.</li>
        </ul>
        <p>Herhangi bir sorunuz varsa veya yardıma ihtiyacınız varsa, lütfen
          destek ekibimizle iletişime geçmekten çekinmeyin:
          <a href='mailto:info@randebul.com'>info@randebul.com</a>.</p>
        <p>Birlikte olan randevu yolculuğumuzu dört gözle bekliyoruz !!</p>
      </div>
    </div>
  </body>
</html>